body{
    overflow: hidden;
    background-color: #F6F5FC;
}
/* Container styling */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
}

/* Side styling */
.side {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease;
}

/* Left side specific styling */
.left-side {
    width: 65%;
    background-size: cover;
    background-position: center;
    animation: slide 30s infinite;
    /* background-size: 1000px; */
    background-repeat: no-repeat;
    background-position: center;
}

/* Right side specific styling */
.right-side {
    width: 35%;
background-color: #202068;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

/* Hidden checkbox */
.toggle {
    display: none;
}

/* Button styling */
.action-btn {
    padding: 15px 30px;
    background-color: #202068    ;
    color: white    ;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.action-btn:hover {
    background-color: white;
    color: #202068    ;
}

/* When checkbox is checked */
#shrinkToggle:checked ~ .left-side {
    width: 0%; 
}

#shrinkToggle:checked ~ .right-side {
    width: 40%; 
}
.left-side{
    z-index: 5;
}
.right-side{
    z-index: 10;
}
.back-side{
    z-index: 5;
}
.back-side {
    width: 0px;
    display: flex;
    justify-content: space-between;
}
#shrinkToggle:checked ~ .back-side {
    width: 60%; 
}
div p.back{
    font-size: 25px;
}
/*logo */
.logo{
    width:150px;
}



.form-step {
    display: none;
}

.form-step.active {
    display: block;
    width: 500px;
    margin-left: 150px;
}

h3 {
    margin-bottom: 20px;
}

input, textarea, select {
    padding: 10px;
    margin-bottom: 10px;
    border:  0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button {
    background-color: #2d2d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button.submit {
    background-color: #2d2d6d;
    margin-top: 15px;
} 
.label{
    display:inline-block;
    margin: 5px;
    
}
.grade{
    display: flex;
    flex-direction: column;
}
.last{
    width: 450px;
    height: 110px;
}

@keyframes slide {
    0%     { background-image: url('image.jpg');   }
    16.66% { background-image: url('image.jpg');   }
    16.67% { background-image: url('image-a.jpg'); }
    33.33% { background-image: url('image-a.jpg'); }
    33.34% { background-image: url('image-3.jpg'); }
    50%    { background-image: url('image-3.jpg'); }
    50.01% { background-image: url('image-4.jpg'); }
    66.66% { background-image: url('image-4.jpg'); }
    66.67% { background-image: url('image-5.jpg'); }
    83.33% { background-image: url('image-5.jpg'); }
    83.34% { background-image: url('image-6.jpg'); }
    100%   { background-image: url('image-6.jpg'); }
} 
.hello{
    color: white;
}
form{
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.next{
    border: 2px solid #202068 ;
}
.next:hover{
    background-color:white ;
    color: #202068  ;
    border: 2px solid #202068 ;
}
h3{
    font-size: 30px;
}
#why{
    width: 170px;
    height: 20px;
}
input, textarea, select:focus{
    border-color: #202068 ;
}